form{
  margin-top: 25px;
  margin-left: 10px;
 
}
input[type='text']{
 padding: 13px 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
   float:left;
}
input[type='button']{
    background: #227093;
    border: 1px solid #227093;
    padding: 15px 25px;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}
input:not(:placeholder-shown) + input[type='button']{
    display: block;
}